/* main-conten */

.header {
  height: 88vh;
  width: 100%;
  overflow: hidden;
}

.main-conten {
  background-position: 50%;
  background-size: cover;
  bottom: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.4s cubic-bezier(0.665, 0.235, 0.265, 0.8) 0s;
  width: 100%;
  margin-bottom: 50px;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 15px;
  position: fixed;
  z-index: 2;
  background-color: transparent;
  height: 68px;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 72px 0px 40px;
  align-items: center;
}

.scroll-color {
  background-color: black;
  transition: 0.5s ease;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.nav-left a {
  text-decoration: none;
  color: #e5e5e5;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 15px;
  margin-right: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.nav-right a {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: white;
  text-decoration: none;
  margin-left: 25px;
}

.logo {
  width: 115px;
  height: 40px;
  list-style: none;
  margin-right: 30px;
}

.perfil {
  width: 35px;
  height: 35px;
  border-radius: 10%;
  overflow: hidden;
  margin-left: 20px;
}

.imagen {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 15px;
}

.logotipo {
  width: 800px;
  margin-top: 100px;
  margin-left: 50px;
}

.title-logotipo {
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.info-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.text-info {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-weight: 400;
  line-height: normal;
  font-size: 1.2vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .45);
  color: white;
}

.btn {
  display: flex;
}

.btn_play {
  background-color: white;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  opacity: 1;
  padding: 0;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 0px 30px 0px 15px;
  margin-right: 10px;
}

.icon-play {
  height: 40px;
  width: 40px;
}

.btn-mas {
  background-color: rgba(109, 109, 110, 0.7);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  opacity: 1;
  padding: 0;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 0px 30px 0px 15px;
}


.text-info {
  width: 400px;
  margin-left: 50px;
}

#miVideo {
  overflow: hidden;
}

#miPoster {
  width: 100%;
  display: none;
}