<<<<<<< Updated upstream
/* Banner */
a{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #e5e5e5;
}
.background-mainfeatures{
    height: 88vh;
    width: 100%;
    overflow: hidden;
}

.mainfeatures{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 88vh;
    overflow: hidden;
    position: absolute;
    background-color: black;
    background: linear-gradient(0deg, rgb(0, 0, 0)0%, rgba(0, 0, .9) 1%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 1)100%)
}

/* Menu */

.main{
    width: 100%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-size: 15px;
    position: fixed;
    z-index: 1000;
    background-color: transparent;
    height: 65px;
}

.nav{
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    padding: 0px 40px;
}


@media (min-width:400px){
    .nav{
        gap: 15px;
    }
}

/* Menu left */

.img-logo{
    width: 90px;
    height: 40px;
    list-style: none;
}

@media(min-widt:768px){
    .img-logo{
        width: 110px;
        height: 60px;
    }
    
}

@media(min-widt:992px){
    .nav-left li:nth-child(2){
        display: none;
    }

}

.nav-left li:nth-child(3),
.nav-left li:nth-child(4),
.nav-left li:nth-child(5),
.nav-left li:nth-child(6),
.nav-left li:nth-child(7),
.nav-left li:nth-child(8){
    display: none;
}

@media (min-width:992px){
    .nav-left li:nth-child(3),
    .nav-left li:nth-child(4),
    .nav-left li:nth-child(5),
    .nav-left li:nth-child(6),
    .nav-left li:nth-child(7),
    .nav-left li:nth-child(8){
        display: flex;
    }
    .nav-left li:nth-child(2){
        display: none;
    }
}

/* MENU DERECHO*/

.user{
    width: 40px;
    height: 40px;
    border-radius: 10%;
    overflow: hidden;
}

.nav-right li:nth-child(1),
.nav-right li:nth-child(2){
    width: 25px;
}

/* Imagotipo */

.imgmain{
    flex: 1;
    width: 95%;
    display: flex;
    margin-inline: auto;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
}

.imgtipo-img{
    min-width: 500px;
}

.imgtipo-data{
    display: flex;
    align-items: center;
    gap: 20px;
}

.imgtipo-data button{
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}

.imgtipo-data button:nth-child(1){
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
}

.imgtipo-data button:nth-child(2){
    border: 1px solid #6d6d63b3;
    background-color: #6d6d63b3;
    cursor: pointer;
    color: white;
}

.imgtipo-data button:nth-child(1):hover,
.imgtipo-data button:nth-child(2):hover{
    background-color: transparent;
    color: white;
}
=======
/* main-conten */

.header {
  height: 88vh;
  width: 100%;
  overflow: hidden;
}

.main-conten {
  background-position: 50%;
  background-size: cover;
  bottom: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.4s cubic-bezier(0.665, 0.235, 0.265, 0.8) 0s;
  width: 100%;
  margin-bottom: 50px;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 15px;
  position: fixed;
  z-index: 2;
  background-color: transparent;
  height: 68px;
}
.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 72px 0px 40px;
  align-items: center;
}

.scroll-color {
  background-color:black;
  transition:0.5s ease;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.nav-left a {
  text-decoration: none;
  color: #e5e5e5;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 14px;
  margin-right: 20px;
  font-weight: 500;
}

.nav-right a{
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 14px;
  text-decoration: none;
  margin-left: 25px;
}
.logo {
  width: 115px;
  height: 40px;
  list-style: none;
  margin-right: 30px;
}

.perfil {
  width: 35px;
  height: 35px;
  border-radius: 10%;
  overflow: hidden;
  margin-left: 20px;
}

.imagen {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 15px;
}

.logotipo {
  width:800px;
  margin-top: 160px;
  margin-left: 50px;
}

.title-logotipo{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.info-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.btn{
  display: flex;
}

.btn-play{
  background-color: white;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  opacity: 1;
  padding: 0;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 0px 30px 0px 15px;
  margin-right: 10px;
}

.icon-play{
  height: 40px;
  width: 40px;
}

.btn-mas{
  background-color: rgba(109, 109, 110, 0.7);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  opacity: 1;
  padding: 0;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 0px 30px 0px 15px;
}


.text-info{
  width: 400px;
  margin-left: 50px;
}


>>>>>>> Stashed changes
